# Modelsim files
work
ModelSim
VinayTest
Quartus
project_phase1_20181029

# Icarus verilog files
iverilog/
*.vcd
*.vvp

# gtkwave settings
*.gtkw

# Other log and debug output
*.log
*.trace
*.plog
*.ptrace

# Vim files
*.swp
*.swo
*.vim
